<!DOCTYPE html>
<html lang="<%- config.language %>">
<head>
  <meta charset="utf-8">
  <%- partial('google-analytics') %>
  <%
  var title = page.title;
  var og = open_graph({twitter_id: theme.twitter, google_plus: theme.google_plus, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id}).replace(/-thumb/gi,'');
  if(page.hidden){og=og.replace(/<meta property="og:.*?time" content=".*?">/gi,'');}
  if(!og.includes('og:image')){var source=config.cdn||config.url;
  og+='<meta property="og:image" content="'+source+'/images/001.jpg"><meta property="og:image" content="'+source+'/images/002.jpg"><meta property="og:image" content="'+source+'/images/004.jpg"><meta property="twitter:image" content="'+source+'/images/004.jpg">';
  }
  if (is_archive()){
    title = __('archive_a');

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = __('category') + ': ' + page.category;
  } else if (is_tag()){
    title = __('tag') + ': ' + page.tag;
  }
  %>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <% if (title && config.root && config.root.length<=1 && config.removestartslash){ %><base href="<%- '../'.repeat(path.split('/').length-1) %>"><% } %>
  <% if (config.olderiesupport){ %>
  <!--[if lt IE 9]><meta http-equiv="X-UA-Compatible" content="IE=edge"><script src="<%- url_for('/js/html5shiv.min.js') %>"></script><![endif]-->
  <% } %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%- og %>
  <% if (theme.rss){ %>
    <link rel="alternate" href="<%- full_url_for(theme.rss) %>" title="<%= config.title %>" type="application/atom+xml">
  <% } %>
  <% if (theme.favicon){ %>
    <link rel="icon" href="<%- url_for(theme.favicon) %>">
  <% } %>
  <% if (config.font_source_code_pro){ %>
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet" type="text/css">
  <% } %>
  <%- css('/css/style.css') %>
</head>
